body {
  font-family: "Montserrat", sans-serif;
  background-color: #1b131a;
  color: white;
}

.form {
  padding: 20px;
  background-color: #dcdcdc;
  border-radius: 4px;
  margin: 0px;
}

.messages {
  height: 300px;
  background-color: white;
  padding: 20px;
  overflow: hidden;
  overflow-y: scroll;
  border: none;
}
